@model IEnumerable<OnboardingSoftware.Web.Models.AplikantViewModel>

@{
    ViewData["Title"] = "Home page";
}
<p style="height: 80px"></p>
<h4>Applicants</h4>
<p style="height: 35px"></p>
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                Email
            </th>
            <th>
                Name
            </th>
            <th>
                Phone number
            </th>
            <th>
                Birth date
            </th>
            <th>
                Address
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(model => item.Email)
            </td>
            <td>
                @Html.DisplayFor(model => item.ImePrezime)
            </td>
            <td>
                @Html.DisplayFor(model => item.BrojTelefona)
            </td>
            <td>
                @Html.DisplayFor(model => item.DatumRodjenja)
            </td>
            <td>
                @Html.DisplayFor(model => item.Adresa)
            </td>
        </tr>
        }
    </tbody>
</table>
