@model IEnumerable<OnboardingSoftware.Web.Models.PosaoViewModel>

@{
    ViewData["Title"] = "Home page";
}

<h4>Jobs</h4>

<p align="right">
    <input type="button" value="Create" onclick="location.href='@Url.Action("CreateJob", "Home" )'" />
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Type
            </th>
            <th>
                Category
            </th>
            <th>
                Description
            </th>
            <th>
                Location
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(model => item.Naziv)
            </td>
            <td>
                @Html.DisplayFor(model => item.Tip)
            </td>
            <td>
                @Html.DisplayFor(model => item.Kategorija)
            </td>
            <td>
                @Html.DisplayFor(model => item.Opis)
            </td>
            <td>
                @Html.DisplayFor(model => item.Lokacija)
            </td>
        </tr>
        }
    </tbody>
</table>
