@model OnboardingSoftware.Web.Models.Auth.LoginViewModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutAuth.cshtml";
}

<div class="row justify-content-md-center">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                Login
            </div>
            <div class="card-body">
                @using (Html.BeginForm("Login", "Home", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                <div class="form-group">
                    @Html.LabelFor(m => m.Email)
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Username" })
                    @*@Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })*@
                </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password)
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                        @*@Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })*@
                    </div>
                    <div class="form-group">
                        <input type="submit" name="submit" class="btn btn-dark" onclick="SubmitValidation()" asp-area="" asp-controller="Home" asp-action="Login" value="Login" />
                    </div>
                }
            </div>
        </div>
    </div>
</div>
