@model IEnumerable<OnboardingSoftware.Web.Models.PitanjeViewModel>

@{
    ViewData["Title"] = "Home page";
}

<h4>Questions</h4>

<p align="right">
    <input type="button" value="Create" onclick="location.href='@Url.Action("CreateQuestion", "Home" )'" />
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                No.
            </th>
            <th>
                Type
            </th>
            <th>
                Text
            </th>
            <th>
                Test
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(model => item.RedniBroj)
            </td>
            <td>
                @Html.DisplayFor(model => item.Tip)
            </td>
            <td>
                @Html.DisplayFor(model => item.Tekst)
            </td>
            <td>
                @Html.DisplayFor(model => item.Test)
            </td>
        </tr>
        }
    </tbody>
</table>
