@model IEnumerable<OnboardingSoftware.Web.Resources.TagResource>

@{
    ViewData["Title"] = "Tags";
}

<h1>Tags</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Index", new
           {
               controller = "Links",
               action = "Index"
           }, new { onclick = "javascript:return false;" }) &nbsp; | &nbsp;
                @Html.ActionLink("Delete", "Index", new
           {
               controller = "Links",
               action = "Index"
           }, new { onclick = "javascript:return false;" })
            </td>
        </tr>
        }
    </tbody>
</table>
