@model IEnumerable<OnboardingSoftware.Web.Models.TestViewModel>

    @{
    ViewData["Title"] = "Home page";
    }

    <h4>Tests</h4>

    <p align="right">
        <input type="button" value="Create" onclick="location.href='@Url.Action("CreateTest", "Home" )'" />
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Type
                </th>
                <th>
                    Duration
                </th>
                <th>
                    Number of questions
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.Naziv)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Tip)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Trajanje)
                </td>
                <td>
                    @Html.DisplayFor(model => item.BrojPitanja)
                </td>
            </tr>
            }
        </tbody>
    </table>
